{% extends 'utils_templates/base.html' %}

{% block page_content %}

    <div class="form-container">

        <div class="register-form-data">
            <div class="form-message">
                <h4 autofocus>Create you account</h4>
                <h5>Already have an account? <a href="{% url 'login' %}">Sign In</a></h5>
                {% if form.errors %}
                    <p>{{ form.errors }}</p>
                {% endif %}
            </div>
            <form action="{% url 'register' %}" method="post" class="login-form">

                {% for field in form %}
                    <div>
                        {{ field.label_tag }} <br>
                        {{ field }}
                    </div>

                {% endfor %}
{#                {{ form.as_div }}#}
                <button type="submit" class="form-button">Sign In</button>
                {% csrf_token %}
            </form>
        </div>


    </div>
    <script>

        window.onload = function hoverInitiate() {
            const inputs = document.getElementsByTagName("input");
            for (let field of inputs) {
                field.addEventListener('focusin', inputFocus)
                field.addEventListener('focusout', inputUnFocus)
            }

            const genderField = document.getElementsByName('gender')[0];
            genderField.focus()
        }

        function inputFocus (event) {
            event.target.classList.add('form-input-change-background')
        }

        function inputUnFocus (event) {
            event.target.classList.remove('form-input-change-background')

        }
    </script>
{% endblock %}
