{% extends 'utils_templates/base.html' %}
{% load static %}

{% block page_content %}

    <section class="about-page">

        <article>
            <h2>MLO online Store</h2>
            <p>This is website created for the final exam
                at SoftUni Web Framework Module. It represents an online site,
                where users can upload listing, top up their accounts and buy items.

            </p>
            <a href="https://github.com/SashoAlex2000" class="btn">Contact me!</a>
        </article>
        <img src="{% static 'images/about2.jpeg' %}" alt="about image" class="img about-img">

    </section>




{% endblock %}