{% extends 'utils_templates/base.html' %}
{% load static %}

{% block page_content %}

    <div class="details-container">
        <div class="details-inner-container">
            <div class="details-picture">
                <img src="/media/{{ object.photo }}" alt="profile picture">
            </div>
            <div class="details-info">
                <h1>{{ object.name }}</h1> <br>
                <h4>{{ object.description }}</h4>
                <p>{{ total_price }}</p>
                {% if can_buy %}
                    <form action="{% url 'buy item' pk=object.pk %}" method="post">
                        <label for="quantity">How many items do you want to buy?</label>
                        <input type="number" name="quantity">
                        <button class="buy-item-btn">Buy this item!</button>
                        {% csrf_token %}
                    </form>
                {% else %}
                    <button disabled>Buy this item!</button>
                    <p>You do not have enough funds!</p>
                {% endif %}


            </div>
        </div>

        <div class="comment-container">
            {% if comments %}
                <div class="comments">
                    {% for comment in comments %}
                        <div class="single-comment">
                            <p>{{ comment.user }} - {{ comment.comment_text }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="{% url 'post comment' pk=object.pk %}" method="post">
                <label for="comment_text">Post your comment</label>
                <input type="text" name="comment_text">
                <button type="submit">POST</button>
                {% csrf_token %}
            </form>
        </div>

    </div>

{% endblock %}