{% extends 'utils_templates/base.html' %}

{% block page_content %}

    <div class="create-form-container">

        <div class="create-item-data">

            <div class="create-item-message">
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
            </div>

            <div class="create-item-form">
                <form action="{% url 'edit item' pk=item_id %}" method="post">
{#                    {{ form.as_div }}#}

                    {% for field in form %}
                        <div class="single-form-div">
                            {{ field.label_tag }} <br>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="create-btn">Add</button>
                    {% csrf_token %}
                </form>

            </div>
        </div>
    </div>

{% endblock %}