{% load static %}
{#{% load static %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MLO Store</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.cdnfonts.com/css/buffalo" rel="stylesheet">
</head>
<body>
    <header>
        {% include 'utils_templates/nav.html' %}
    </header>

    <main class="main">
        <!-- The content will go here -->

        {% block page_content %}

        {% endblock %}

    </main>

<div class="page-footer">
        <p>
            © 2022 <span class="footer-logo">MLO</span> store made by
            <a href="https://github.com/SashoAlex2000" target="_blank">SashoAlex2000</a>
        </p>

</div>

</body>
</html>